.body{
    background-color: #f06528;
}
h2 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
   }
   .h1-colorido {
    background-color: rgb(4, 4, 14);
    color: rgb(255, 63, 63);
   }
   .hex-colorido {
    background-color: #111113;
    color: #ff0000;
   